.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store

data/*
!data/manual/
!data/manual/train_dataset.pkl
!data/manual/test_dataset.pkl
!data/paws_indices/
!data/paws_indices/dev_and_test.tsv
artifacts/*
